/* css reset */
*{
    margin : 0;
    padding: 0;
}

/*css variables */

:root{
    --navbar-height: 59px;
}

/* navigatin bar*/

#navbar{
    position: relative;
    display: flex;
    align-items: center;
    
}
/*navigatin bar: logo and image*/
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
    border-radius: 50%;
}

/*navigatin bar: lsit stylng*/
ul{
    display: flex;

}

#navbar ul{
    display: flex;
}

#navbar ::before{
    content: "";
    background-color:white;
    position: absolute;
    top:0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}
#navbar ul li{
    color:black;
    list-style: none;
    font-size: 1.3 rems;
}

#navbar ul li a{
    color: black;
    display: flex;
    padding: 3px 14px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color:black;
    background-color:cornsilk;
  
}
/*home section */

#home{
    display:flex;
    flex-direction: column;
    padding: 0px 0px;
    height: 700px;
    justify-content: center;
    align-items: center;

    
    
}

#home::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 99%;
    z-index: -1;  
    opacity: 0.4;
    overflow: hidden;
    
    border-radius: 28px;
}

#home h1{
    color:white;
    font-size: xx-large;
    text-align: center;
    font-size: 3rem;
    font-family: 'Times New Roman';
    color: lightskyblue;
   
}

#home p{
    color:darkslategrey;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Times New Roman';
}

/* service section*/ 

#services{
    margin: 34 px;
    display: flex;
    /* flex-basis: 0; */
    /* align-items: center;*/
    flex-flow: wrap;
    justify-content: space-between;
}
#services .box{
    background-color: whitesmoke;
    padding: 34px;
    margin: 3px 6px;
    width: 27%;
  
}

#services .box1{
    background-color: whitesmoke;
    padding: 34px;
    margin: 3px 6px;
    width: 27%;
  
}
#services .box2{
    background-color: whitesmoke;
    padding: 34px;
    margin: 3px 6px;
    width: 27%;
  
}
#services .box img{ 
    height: 360px;
   margin: auto;
   display:flex;
    
}

#services .box p{
    font-family: 'Times New Roman';

}


.center{
    text-align: center;
    font-size: 35px;
}

#services .box1{
    /* border: 2px solid brown; */
    background-color: whitesmoke;
    border-radius: 0px;
    padding: 30px;
    margin: 3px 6px;
    margin-left: 1px;
    width: 27%;
    /* text-align: center; */
    justify-content: center;
} 

#services .box1 img{ 
    height: 450px;
   margin: auto;
   display: flex;
    
}


#services .box2 h2{
    font-size: 4rem;
}
#services .box2 p{
    font-size: 1.3rem;
}

footer .center{
    background: black;
    color: white;
    padding: 9px 20px;
    font-size: 10px;
}
/* utility class */
.h-primary{
    font-family: 'bree serif' ,'serif';
    font-size: 4.8 rem;
    padding: 12px;
}

.h2-primary{
    font-family: 'bree serif' ,'serif';
    font-size: 1.8 rem;
    padding: 12px;
}
.h-secondary{
    font-family: 'bree serif' ,'serif';
    font-size: 3.8 rem;
    padding: 12px;
}
.h1-secondary{
    font-family: 'bree serif' ,'serif';
    font-size: 3.8 rem;
    padding: 12px;
    
}

.b1{
    padding: 6px 20px;
    border:2px  solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.2rem;
    cursor: pointer;
     border-radius:20px;
}

.b2{
    padding: 6px 20px;
    border:2px  solid white;
    background-color: blue;
    color: white;
    margin: 17px;
    font-size: 1.2rem;
    cursor: pointer;
     border-radius:20px;
     align-self: center;
}

/* footer */
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
} 
footer{
    background-color: black;
}
.footercontainer{
    width: 100%;
    padding: 70px 30px 2px;

}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%; 

}
.socialIcons a i{
    font-size: 2rem;
    color: black;
    opacity: 0.9;
}
.socialIcons a:hover{
    background-color: black;
    transition: 0.5s;

}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
    
}
.footernav{
    margin: 30px 0;
}
.footernav ul{
    display: flex;
    justify-content: center;
    
    
}
.footernav ul li a{
    color: white;
    margin: 20px;
    text-decoration:none ;
    font-size: 1.3 rem;
    opacity:0.7;
    transition: 0.5s;

}
.footernav ul li a:hover{
    opacity: 1;
}
.footerbottom{
    background-color: black;
    padding: 20px;
    text-align: center;
}
.footerbottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0px 5px;
} 

@media only screen and (max-width: 1140px)
{
    #navbar{
       flex-direction: column;
    }
    #services{
        flex-direction: column;
        width: 100%;
    }   
    #services .box{
    flex-direction: column;
    width: 100%;
    text-align: center;
    }
    #services .box1{
        flex-direction: column;
        width: 100%;
    }
    #services .box2{
        flex-direction: column;
         padding-right: 10%;
        width: 100%;
        text-align: center;
    }

    #services .box1 img{ 
        height: 300px;
        width: 300px;
        margin-top: 100px;
       margin: auto;
       display: flex;
        
    }
     #services .box img{
        width: 220px;
     }
    #services .box2 h2{
        font-size: 2.5rem;
    }
    #services .box2 p{
        font-size: 1.5rem;
        flex-direction: row;
    }
    
    
}
