*{
    margin : 20;
    padding: 30;
    
}

/*css variables */

:root{
    --navbar-height: 59px;
}

/* navigatin bar*/


/*navigatin bar: logo and image*/
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
    border-radius: 50%;
}

/*navigatin bar: lsit stylng*/
#navbar{
    position: relative;
    display: flex;
    align-items: center;
    
}
#navbar ul{
    display: flex;
}

#navbar ::before{
    content: "";
    background-color:whitesmoke;
    position: absolute;
    top:0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}
#navbar ul li{
    color:black;
    list-style: none;
    font-size: 1.3 rems;
}

#navbar ul li a{
    color: black;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color:black;
    background-color:cornsilk;
  
}

#services{
    margin: 55px;
    display: inline-flex;
    flex-basis: 0;
    align-items: center;
    flex-flow: wrap;
    justify-content: space-between;
}
#services .box{
    /* border: 2px solid brown; */
    background-color: black;
    border-radius: 0px;
    padding: 40px;
    color: white;
    width:50%;
    align-items:flex-start;
}
#services .box img{ 
    height: 200px;
   margin: auto;
   display:grid;
    
}

#services .box p{
    font-family: 'Times New Roman';

}


.center{
    text-align: center;
    font-size: 35px;
}


#services .box2 h2{
    font-size: 3rem;
}
/* client section*/

/* client section*/
.h-primary{
    font-family: 'bree serif' ,'serif';
    font-size: 4.8 rem;
    padding: 50px;
}

.h-secondary{
    font-family: 'bree serif' ,'serif';
    font-size: 3.8 rem;
    padding: 12px;
    text-align: left;
}


.b1{
    padding: 6px 20px;
    border:2px  solid white;
    background-color: black;
    color: white;
    margin: 17px;
    font-size: 1.2rem;
    cursor: pointer;
     border-radius:20px;
}

.b1 a:hover{
    background-color: black;
    transition: 0.5s;

}





/*footer*/
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
} 
footer{
    background-color: black;
}
.footercontainer{
    width: 100%;
    padding: 70px 30px 2px;

}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%; 

}
.socialIcons a i{
    font-size: 2rem;
    color: black;
    opacity: 0.9;
}
.socialIcons a:hover{
    background-color: black;
    transition: 0.5s;

}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
    
}
.footernav{
    margin: 30px 0;
}
.footernav ul{
    display: flex;
    justify-content: center;
    
    
}
.footernav ul li a{
    color: white;
    margin: 20px;
    text-decoration:none ;
    font-size: 1.3 rem;
    opacity:0.7;
    transition: 0.5s;

}
.footernav ul li a:hover{
    opacity: 1;
}
.footerbottom{
    background-color: black;
    padding: 20px;
    text-align: center;
}
.footerbottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0px 5px;
} 
/*review*/
a{
    text-decoration:none;
}
#testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 100px;
}
.testimonials-heading{
    padding-top: 200px;
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.testimonials-heading h1{
    font-size: 2.2rem;
    font-weight: 500;
    background-color: black;
    color: white;
    padding: 10px 20px;
}
.testimonials-heading span{
    font-size: 1.3 rem;
    color:#252525;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform:uppercase;
}
.testimonials-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;

}
.testimonials-box{
    width:500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: white;
    padding: 20px;
    margin: 15px;
    cursor:pointer;

}
.profile-img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.profile-img img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: center;

}
.profile{
    display: flex;
    align-items: center;
}
.name-user{
    display: flex;
    flex-direction: column;
}
.name-user strong{
    color:#3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.name-user span{
    color:#979797;
    font-size: 0.8rem;
}

.reviews{
    color:yellow;

}
.box-top{
    display:flex;
    justify-content: space-between;

}
.client-comment p{
    font-size: 0.9rem;

}


@media only screen and (max-width: 1140px)
{
    #navbar{
        flex-direction: column;
     }
    #services{
        flex-direction: column;
        width: 100%;
    }   
    #services .box{
    flex-direction: column;
    width: 100%;
    }
    #services .box1{
        flex-direction: column;
        width: 100%;
    }
    #services .box2{
        flex-direction: column;
        padding-right: 0%;
        width: 100%;
    }

    #services .box1 img{ 
        height: 300px;
        width: 400px;
        margin-top: 100px;
       margin: auto;
       display: flex;
        
    }

    #services .box2 h2{
        font-size: 5rem;
    }
    #services .box2 p{
        font-size: 1.3rem;
        flex-direction: row;
    }
    
    
}
