/* css reset */
*{
    margin : 10;
    padding: 50;
}

/*css variables */

:root{
    --navbar-height: 59px;
}

/* navigatin bar*/


/*navigatin bar: logo and image*/
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
    border-radius: 50%;
}

/*navigatin bar: lsit stylng*/
#navbar{
    position: relative;
    display: flex;
    align-items: center;
    
}
#navbar ul{
    display: flex;
}

#navbar ::before{
    content: "";
    background-color:white;
    position: absolute;
    top:0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}
#navbar ul li{
    color:black;
    list-style: none;
    font-size: 1.3 rems;
}

#navbar ul li a{
    color: black;
    display: block;
    padding: 3px 14px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color:black;
    background-color:cornsilk;
  
}
/*home section */

#home{
    display:flex;
    flex-direction: column;
    padding: 3px 20px;
    height: 590px;
    justify-content: center;
    align-items: center;

    
    
}

#home::before{
    content: "";
    background: url('../hy.jpg') transparent no-repeat center center/cover ;
    /* background-color: whitesmoke; */
    position: absolute;
    height: 100%;
    width: 99%;
    z-index: -1;  
    opacity: 0.4;
    overflow: hidden;
    border: 2px solid brown;
    border-radius: 28px;
}

#home h1{
    color:white;
    font-size: xx-large;
    text-align: center;
    font-size: 3rem;
    font-family: 'Brush Script MT';
    color: brown;
   
}

#home p{
    color:darkslategrey;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Harlow Solid Italic';
}

/* service section*/ 

.services-container{
    margin: 10;
    padding:5;
    margin-top:35px;
}


#services{
    margin: 34 px;
    display:flex;
    flex-basis: 0;
    align-items:flex-start;
    flex-flow:wrap;
    justify-content:center;
}
#services .box{

    background-color: white;
    border-radius: 28px;
    padding: 30px;
    margin: 9px;
    width: 40%;
    align-items: right;
    opacity: 1;
}
#services .box img{ 
    height:90%;
    width: 90%;
   margin: 5px;
   display: block;

}

#services .box p{
    font-family: 'bree serif' ,'serif';
    font-size: large;
}
.center{
    text-align: center;
    font-size: 35px;
}
/*footer*/
footer .center{
    background: black;
    color: white;
    padding: 9px 20px;
    font-size: 10px;
}
/* utility class */
.h-primary{
    font-family: 'bree serif' ,'serif';
    font-size: 4.8 rem;
    padding: 50px;
}

.h-secondary{
    font-family: 'bree serif' ,'serif';
    font-size: 3.8 rem;
    padding: 12px;
    text-align: center;
}

.b1{
    padding: 6px 20px;
    border:2px  solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.2rem;
    cursor: pointer;
     border-radius:20px;
}
/*footer*/
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
} 
footer{
    background-color: black;
}
.footercontainer{
    width: 100%;
    padding: 70px 30px 2px;

}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%; 

}
.socialIcons a i{
    font-size: 2rem;
    color: black;
    opacity: 0.9;
}
.socialIcons a:hover{
    background-color: black;
    transition: 0.5s;

}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
    
}
.footernav{
    margin: 30px 0;
}
.footernav ul{
    display: flex;
    justify-content: center;
    
    
}
.footernav ul li a{
    color: white;
    margin: 20px;
    text-decoration:none ;
    font-size: 1.3 rem;
    opacity:0.7;
    transition: 0.5s;

}
.footernav ul li a:hover{
    opacity: 1;
}
.footerbottom{
    background-color: black;
    padding: 20px;
    text-align: center;
}
.footerbottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0px 5px;
} 


@media only screen and (max-width: 1140px)
{
    #navbar{
        flex-direction: column;
     }
    #services{
        flex-direction: column;
        width: 100%;
    }   
    #services .box{
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-size: 1.5rem
    }
    #services .box1{
        flex-direction: column;
        width: 100%;
    }
    #services .box2{
        flex-direction: column;
        padding-right: 0%;
        width: 100%;
    }

    #services .box1 img{ 
        height: 300px;
        width: 400px;
        margin-top: 100px;
       margin: auto;
       display: flex;
        
    }

    #services .box2 h2{
        font-size: 5rem;
    }
    #services .box2 p{
        font-size: 1.3rem;
        flex-direction: row;
    }
    
    
}
